.Creative {
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 107px;
}
.Creative .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Creative .container .box:first-child {
  padding-right: 104px;

  position: relative;
}
.Creative .container .box:first-child .agency {
  display: inline-flex;
  column-gap: 3px;
}
.Creative .container .box:first-child .agency .line {
  border-left: 3px solid var(--Cinnabar);
  margin-top: 8px;
  margin-bottom: 12px;
}

.Creative .container .box:first-child .agency .text {
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 5px;
}

.Creative .container .box:first-child .title {
  font-weight: 700;
  font-size: 62px;
  line-height: 84px;
  padding-bottom: 20px;
}

.Creative .container .box:first-child .title .mind {
  color: var(--Cinnabar);
}

.Creative .container .box:first-child .last-text {
  color: #7b7d84;
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 30px;
  padding-right: 100px;
}
.Creative .container .box:first-child .btn-container {
  background-color: #ea3d3c;
  display: flex;
  width: 187px;
  cursor: pointer;
}
.Creative .container .box:first-child .btn-Cinnabar {
  color: var(--Cinnabar);
  color: #fff;
  height: 58px;
  padding: 16px 18px 16px 32px;
  background-color: #ea3d3c;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.Creative .container .box:last-child {
  padding-top: 50px;
  position: relative;
}

.Creative .container .box:last-child .personal-img {
  margin-top: 5px;
}

.Creative .points-left {
  top: 47px;
}

.Creative .points-right {
  bottom: 47px;
  right: 0px;
}

.Creative .container .box:last-child .figur1 {
  top: 194px;
  right: 74px;
}

.Creative .container .box:last-child .figur2 {
  bottom: 34px;
  left: -80px;
}

.Creative .container .box:first-child .figur3 {
  top: 150px;
  right: 140px;
}

.explore .container {
  width: 1100px;
  margin-bottom: 190px;
}

.explore .container .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 104px;
}

.explore .container .grid-container .box figure {
  background-color: rgba(234, 61, 60, 0.3);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  margin: 47px;
}

.explore .container .grid-container .box img {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 57px;
  height: 57px;
}

.explore .container .grid-container .box .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  color: rgba(37, 55, 63, 1);
  padding-bottom: 8px;
}

.explore .container .grid-container .box .text {
  color: rgba(37, 55, 63, 1);
  line-height: 28px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.About {
  margin-bottom: 140px;
}

.About .container {
  display: flex;
  column-gap: 122px;
}

.About .container .box:first-child .img-about {
  border-radius: 20px;
  width: 570px;
  height: 570px;
}

.About .container .box:first-child .card {
  position: absolute;
  width: 303px;
  height: 225px;
  background-color: var(--Cinnabar);
  color: #fff;
  font-family: "Inter", sans-serif;
  letter-spacing: -2px;
  line-height: 77px;
  padding: 36px 50px;
  bottom: -30px;
  right: -35px;
}

.About .container .box:first-child .card .card-flex {
  display: inline-flex;
}

.About .container .box:first-child .card .card-flex .number {
  font-size: 70px;
  font-weight: 400;
}

.About .container .box:first-child .card .card-flex .rounded-wihte {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  margin: 28px 0px 0px 11px;
}

.About .container .box:first-child .card .card-flex .vector-top {
  padding: 11px;
  margin-bottom: 5px;
}

.About .container .box:first-child .card .text {
  line-height: 40px;
  font-size: 24px;
  font-weight: 400;
}
.About .container .box:last-child {
  margin-top: 68px;
}
.About .container .box:last-child span {
  padding-bottom: 20px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.About .container .box:last-child .title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  padding-bottom: 28px;
  padding-right: 10px;
  color: rgba(51, 51, 51, 1);
}

.About .container .box:last-child .text {
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 31px;
  color: rgba(51, 51, 51, 0.5);
  padding-right: 40px;
}

.About .container .box:last-child a {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  line-height: 32px;
}
.Discover {
  margin-bottom: 120px;
}
.Discover .subtitle {
  padding: 0px 35% 75px 35%;
}

.Discover .card-flex {
  padding: 68px 0px;
  background-color: rgba(234, 61, 60, 1);
}
.Discover .card-flex .container {
  display: flex;
  width: 950px;
}
.Discover .card-flex .container .box:first-child {
  color: #fff;
  padding-top: 47px;
  padding-right: 90px;
}

.Discover .card-flex .container .box:first-child span {
  padding-bottom: 17px;
  font-weight: 400px;
}

.Discover .card-flex .container .box:first-child .title {
  padding: 17px 80px 15px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.Discover .card-flex .container .box:first-child .text {
  font-weight: 400;
  line-height: 32px;
  padding-right: 60px;
}

.Discover .card-flex .container .box:last-child figure {
  width: 433px;
  height: 320px;
}

.create .card-flex {
  display: flex;
  column-gap: 38px;
  margin-bottom: 138px;
}

.create .card-flex .imges-cards {
  width: 575px;
  height: 472px;
  border: solid 6px #ffffff;
  box-shadow: -3px 24px 40px 9px #ea3d3c2b;
}

.create .cards-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-bottom: 142px;
}
.create .cards-flex .box {
  border: 1px solid #dddddd;
  text-align: center;
  border-radius: 10px;
}

.create .cards-flex .box .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  position: relative;
  padding-bottom: 10px;
}
.create .cards-flex .box .title span {
  font-size: 40px;
  width: 26px;
  height: 48px;
}
.create .cards-flex .box .title .Pilus {
  bottom: 20px;
  position: absolute;
}

.create .cards-flex .box .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.create .cards-flex .box:first-child {
  color: #9cd161;
  padding: 59px 0px;
}

.create .cards-flex .box:nth-child(2) {
  color: #f5ad0d;
  padding: 59px 0px;
}

.create .cards-flex .box:last-child {
  color: #fb690c;
  padding: 59px 0px;
}

.Improve {
  margin-bottom: 394px;
}
.Improve .container {
  display: flex;
  width: 1075px;
  column-gap: 61px;
}

.Improve .container .box:first-child .title {
  color: #333333;
  font-weight: 700;
  font-size: 56px;
  padding-bottom: 28px;
}

.Improve .container .box:first-child .text {
  color: #333333;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 27px;
}

.Improve .container .box:first-child .path {
  display: flex;
  column-gap: 16px;
}

.Improve .container .box:first-child figure {
  background-color: #9cd161;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
  padding-top: 5px;
}

.Improve .container .box:first-child img {
  width: 12px;
  height: 10px;
}

.Improve .container .box:first-child .path .text {
  padding-bottom: 14px;
}

.Improve .container .box:last-child figure {
  width: 544px;
  height: 408px;
}

.youtube {
  background-color: #f3f7f5;
  margin-bottom: 190px;
}
.youtube .container .iframe {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 247px;
}
.youtube .container .content {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.youtube .container .content .title {
  font-weight: 700;
  font-size: 40px;
}

.youtube .container .content .text {
  font-weight: 400;
  line-height: 32px;
  width: 470px;
}
